<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="lib/angular-material/angular-material.css">
  <script src="lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body ng-app="myApp" layout="column">

  <md-toolbar ng-if="showSidebar()">
    <h1>Angular Material Starter</h1>
  </md-toolbar>

  <div class="container" layout="row" flex ng-controller="MainController as $ctrl">
    <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp" ng-if="showSidebar()">
      <md-list>
        <md-list-item href="#!users">
          <md-button>
            User
          </md-button>
        </md-list-item>
        <md-list-item href="#!login">
          <md-button>
            Login
          </md-button>
        </md-list-item>
      </md-list>
    </md-sidenav>
    <md-content id="content" flex>
      <div ng-view></div>
    </md-content>
  </div>

  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>
  <script src="lib/angular-cookies/angular-cookies.js"></script>
  <script src="lib/angular-animate/angular-animate.js"></script>
  <script src="lib/angular-aria/angular-aria.js"></script>
  <script src="lib/angular-material/angular-material.js"></script>
  <script src="core/version/version.js"></script>
  <script src="core/version/version-directive.js"></script>
  <script src="core/version/interpolate-filter.js"></script>
  <script src="app.js"></script>

  <!-- Controllers -->
  <script src="controllers/LoginController.js"></script>
  <script src="controllers/MainController.js"></script>
  <script src="controllers/UserController.js"></script>

  <!-- Services -->
  <script src="services/UserService.js"></script>

</body>

</html>